In [2]:
import numpy as pd
import pandas as pd
from bs4 import BeautifulSoup as bts
import requests
from urllib.request import urlopen

In [3]:
def getAndParseURL(url):
    result = requests.get(url,headers={"User-Agent":"Mozilla/5.0"})
    soup = bts(result.text, 'html.parser')
    return soup

In [4]:
Sayfa_Sayısı = list(range(1,1617,50))
PAGES = []

IMDB_URL_Part1 = "https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start="
IMDB_URL_Part2 = "&ref_=adv_nxt"
html = getAndParseURL("https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=BSQ0CNKW0HDSGXPKSMPX&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1")

for sayfa in Sayfa_Sayısı:    
    PAGES.append(IMDB_URL_Part1+str(sayfa)+IMDB_URL_Part2)
    
for p in PAGES:
    print (p)

https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=51&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=101&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=151&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=201&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=251&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=301&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=351&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=401&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=451&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=501&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=551&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=601&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=651&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=701&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=751&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=801&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=851&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=901&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=951&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1001&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1051&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1101&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1151&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1201&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1251&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1301&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1351&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1401&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1451&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1501&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1551&ref_=adv_nxt
https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start=1601&ref_=adv_nxt

In [ ]:
ALL_MOVIES = []

for page in PAGES[::]:
    html = getAndParseURL(page)    
    for div in html.findAll("div", {"class": "lister-item-content"}):
        for h3 in div.findAll("h3", {"class": "lister-item-header"}):
            for a in h3.findAll("a"):
                ALL_MOVIES.append("https://www.imdb.com"+a["href"])
                #print (a["href"])

In [ ]:
ALL_MOVIES[:3]

In [ ]:
len(ALL_MOVIES)

Star1 ve star2 hariç diğerlerini çektim.
Alanları dönüştürmek gerekebilir.

In [85]:
FEATURES = []

for m in ALL_MOVIES[:100] :
    movie = getAndParseURL(m)
    film_name = movie.find ("h1", {"data-testid": "hero-title-block__title"}).text
    """for div in movie.findAll("div",{"class","sc-94726ce4-1 iNShGo"}):
        #film_name = div.find ("h1", {"data-testid": "hero-title-block__title"})
        film_name = div.h1.text
    """
      
    
    imdb_rating = movie.find ('span', {'class':'sc-7ab21ed2-1'}).text
    director = movie.find ("a", {"class":"ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link"}).text
    release_date = movie.find ("a", {"class":"ipc-link ipc-link--baseAlt ipc-link--inherit-color sc-8c396aa2-1 WIUyh"}).text
    runtime = movie.find ("li", {"data-testid":"title-techspec_runtime"}).text.replace("Runtime","").replace("hours", "h").replace("minutes","m")
    
    
    for div in movie.findAll("div", {"data-testid":"title-boxoffice-section"}):
        #Budget
        for li in div.findAll("li",{"data-testid":"title-boxoffice-budget"}):
            for span in li.findAll("span",{"class":"ipc-metadata-list-item__list-content-item"}) :
                budget = span.text
        #Gross
        for li2 in div.findAll("li",{"role":"presentation"}):
            for span2 in li2.findAll("span",{"class":"ipc-metadata-list-item__list-content-item"}) :
                gross = span2.text

    all_reviews = []
    for ul in movie.findAll("ul", {"data-testid":"reviewContent-all-reviews"}):
        for span in ul.findAll("span", {"class":"score"}):
            #print (span.text)
            all_reviews.append(span.text)
            
    user_reviews = all_reviews[0]
    critic_reviews = all_reviews[1]
    try:
        metascore = all_reviews[2]
    except IndexError :
        metascore = 0          
    
    #stars
    all_stars = []
    for ul in movie.findAll("ul", {"class":"ipc-inline-list ipc-inline-list--show-dividers ipc-inline-list--inline ipc-metadata-list-item__list-content baseAlt"}):
        for a in ul.findAll("a", {"rel href":"/title/tt0468569/fullcredits/cast?ref_=tt_ov_st_sm"} ):
            star = a.text
            all_stars.append(a.text)
    

    FEATURES.append([film_name,imdb_rating,director,release_date,runtime,budget,gross,user_reviews,critic_reviews,metascore])
    
feature_columns= ["FILM", "IMDB RATING", "DIRECTOR", "RELEASE DATE", "RUN TIME","BUDGET","GROSS","USER REVIEWS","CRITIC REVIEWS","METASCORE"]
df = pd.DataFrame.from_records(FEATURES, columns=feature_columns)

In [86]:
df.head()

,FILM,IMDB RATING,DIRECTOR,RELEASE DATE,RUN TIME,BUDGET,GROSS,USER REVIEWS,CRITIC REVIEWS,METASCORE
0,K.G.F: Chapter 2,9.7,Prashanth Neel,2022,2 h 48 m,"₹800,000,000 (estimated)","₹800,000,000 (estimated)",807,22,0
1,The Dark Knight,9.0,Christopher Nolan,2008,2 h 32 m,"$185,000,000 (estimated)","$1,006,102,277",8K,434,84
2,The Lord of the Rings: The Return of the King,9.0,Peter Jackson,2003,3 h 21 m,"$94,000,000 (estimated)","$1,146,436,214",4K,340,94
3,RRR (Rise Roar Revolt),8.9,S.S. Rajamouli,2022,3 h 7 m,"₹3,500,000,000 (estimated)","$99,592,871",970,33,87
4,Inception,8.8,Christopher Nolan,2010,2 h 28 m,"$160,000,000 (estimated)","$836,848,102",4.5K,480,74

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FILM            10 non-null     object
 1   IMDB RATING     10 non-null     object
 2   DIRECTOR        10 non-null     object
 3   RELEASE DATE    10 non-null     object
 4   RUN TIME        10 non-null     object
 5   BUDGET          10 non-null     object
 6   GROSS           10 non-null     object
 7   USER REVIEWS    10 non-null     object
 8   CRITIC REVIEWS  10 non-null     object
 9   METASCORE       10 non-null     object
dtypes: object(10)
memory usage: 928.0+ bytes

In [88]:
df.to_csv("IMDB ACTION FILMS")

In [89]:
df.shape

(10, 10)

In [90]:
df.columns

Index(['FILM', 'IMDB RATING', 'DIRECTOR', 'RELEASE DATE', 'RUN TIME', 'BUDGET',
       'GROSS', 'USER REVIEWS', 'CRITIC REVIEWS', 'METASCORE'],
      dtype='object')

In [91]:
df["IMDB RATING"] = df["IMDB RATING"].astype(float)
df["RELEASE DATE"] = df["RELEASE DATE"].astype(int)
df["METASCORE"] = df["METASCORE"].astype(int)
#df["RUN TIME"] = df["RUN TIME"].apply(lambda x : str(x).replace("h"," ")).astype(int)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FILM            10 non-null     object
 1   IMDB RATING     10 non-null     float64
 2   DIRECTOR        10 non-null     object
 3   RELEASE DATE    10 non-null     int64
 4   RUN TIME        10 non-null     object
 5   BUDGET          10 non-null     object
 6   GROSS           10 non-null     object
 7   USER REVIEWS    10 non-null     object
 8   CRITIC REVIEWS  10 non-null     object
 9   METASCORE       10 non-null     int64
dtypes: float64(1), int64(2), object(7)
memory usage: 928.0+ bytes

In [93]:
df.groupby("BUDGET").count()
df["RUN TIME"] = df["RUN TIME"].replace("(estimated)","")
df

,FILM,IMDB RATING,DIRECTOR,RELEASE DATE,RUN TIME,BUDGET,GROSS,USER REVIEWS,CRITIC REVIEWS,METASCORE
0,K.G.F: Chapter 2,9.7,Prashanth Neel,2022,2 h 48 m,"₹800,000,000 (estimated)","₹800,000,000 (estimated)",807,22,0
1,The Dark Knight,9.0,Christopher Nolan,2008,2 h 32 m,"$185,000,000 (estimated)","$1,006,102,277",8K,434,84
2,The Lord of the Rings: The Return of the King,9.0,Peter Jackson,2003,3 h 21 m,"$94,000,000 (estimated)","$1,146,436,214",4K,340,94
3,RRR (Rise Roar Revolt),8.9,S.S. Rajamouli,2022,3 h 7 m,"₹3,500,000,000 (estimated)","$99,592,871",970,33,87
4,Inception,8.8,Christopher Nolan,2010,2 h 28 m,"$160,000,000 (estimated)","$836,848,102",4.5K,480,74
5,The Lord of the Rings: The Two Towers,8.8,Peter Jackson,2002,2 h 59 m,"$94,000,000 (estimated)","$947,896,241",2.6K,314,87
6,The Lord of the Rings: The Fellowship of the Ring,8.8,Peter Jackson,2001,2 h 58 m,"$93,000,000 (estimated)","$898,094,742",5.6K,213,92
7,Dag II,8.7,Alper Caglar,2016,2 h 15 m,"TRL 2,000,000 (estimated)","$11,378,898",154,3,0
8,Shershaah,8.7,Vishnuvardhan,2021,2 h 15 m,"TRL 2,000,000 (estimated)","$11,378,898",3.1K,25,0
9,The Matrix,8.7,Lana Wachowski,1999,2 h 16 m,"$63,000,000 (estimated)","$467,222,728",4.8K,250,73

In [1]:
df.isnull().sum()

NameError: name 'df' is not defined

In [95]:
#df["DIRECTOR"].unique().count()

RUN TIME = df["RUN TIME"].tolist()

##You can use a for loop to convert 'Chip Time' to minutes

RUN TIME = []
for i in RUN TIME:
    h, m = i.split('h' and 'm')
    math = (int(h) * 60 + int(m))
    RUN TIME.append(RUN TIME)

In [96]:
#df["RUN TIME"] = df["RUN TIME"].apply(lambda x : str(x).replace("h","")).astype(int)